<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="card table-with-links">
    <div class="card-header "> 
      <h4 class="card-title">Solicitudes de Convocatoria</h4>
        <!-- <p class="card-category">Here is a subtitle for this table</p> -->
    
    </div>

    <div class="card-body table-full-width table-responsive">
        <table class="table table-hover table-striped" >
            <thead>
                <th>#</th>
                <th>Solicitud</th>
                <th>Fecha</th>
                <th>Carta</th>
                <th>Curriculum</th>
                <th>Descripcion</th>
                <th class="d-none"></th>
            </thead>
            <tbody  >
                <tr *ngFor="let detalle_convo of detalle_convo">
                    <td>{{detalle_convo.iddetalle_convo}}</td>
                    <td>{{detalle_convo.url_solicitud}}</td>
                    <td>{{detalle_convo.fecha}}</td>
                    <td>{{detalle_convo.url_carta}}</td>
                    <td>{{detalle_convo.url_curriculum}}</td>
                    <td>{{detalle_convo.descripcion}}</td>
                    <td class="td-actions text-right">
                        <a href="#" rel="tooltip" title="View Profile" class="btn btn-info btn-link btn-xs">
                            <i class="fa fa-user"></i>
                        </a>
                        <a href="#" rel="tooltip" title="Edit Profile" class="btn btn-success btn-link btn-xs">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="#" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-xs">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>